/* CSS for tab selection */
/* All tab content divs need the sheet-tab class */
div.sheet-tab {
	display: none;
	min-width: 40em;
}

/* Add additional tabs here with the :checked selector to for conditional display/ */
input.tabselect-main:checked ~ div.sheet-main
{
   display: grid;
}

input.tabselect-quests:checked ~ div.sheet-quests
{
	display: block;
}


/* No resizing textarea controls */
textarea {
	resize:none;
	box-sizing: border-box;
	width: 100%;
	padding-right: 1em;
}

span {
	display: flex;
	align-items: center;
}

/* Grid layout of sections */
div.sheet-main {
	grid-template-areas: "bio           bio"
	                     "glitch_atribs costs"
						 "gifts         treasures"
						 "technique     technique"
						 "destruction   destruction";
	grid-gap: 1em;
	column-gap: 1em;
}

div.bio {
	grid-area: bio;
}

div.gifts {
	grid-area: gifts;
}

div.treasures {
	grid-area: treasures;
}

div.technique {
	grid-area: technique;
}

div.destruction {
	grid-area: destruction;
}

/* Display attributes and costs as grids. */
div.glitch_atribs  {
	grid-area: glitch_atribs ;
    display: grid;
    grid-template-columns: 5em 2.5em;
    column-gap: 1em;
	grid-row-gap: 0.5em;
}
div.glitch_atribs  h2 {
    grid-column: 1 / span 2;
}

div.costs {
	grid-area: costs;
    display: grid;
    grid-template-columns: 5em 2.5em;
    column-gap: 1em;
	grid-row-gap: 0.5em;
}
div.costs h2 {
    grid-column: 1 / span 2;
}

p.aligned-inputs {
	display: flex;
}

span.aligned-inputs {
	width: 20%;
	float: left;
	vertical-align: middle;
}

input.aligned-inputs {
	width: 80%;
	vertical-align: middle;
	flex-shrink: 0;
}

textarea.luthe {
	height: 4em;
}

textarea.free-entry {
	height: 10em;
}

/* Colour grid sections so they stand out better */
div.grid-box {
	background-color: Ivory;
	border: 1pt solid black;
	border-radius: 2em;
	padding: 1em;
}